div.aplayer-narrow > div.aplayer-body{
    left: -66px !important;
}

div.aplayer-narrow:hover > div.aplayer-body{
    left: 0px !important;
}

div.flink-item-desc {
    padding: 0px;
}

div.announcementTxt{
    padding: 5px 0px 5px 0px;
    transition: padding 0.5s ease-in-out;
    cursor: pointer;
    border: 1px solid;
    border-left: 12px solid;
    margin: 0 0 10px 0;
}

