@font-face {
    font-family: XiaolaiSC;
    src: url(./XiaolaiSC-Regular.ttf);
}

@font-face {
  font-family: LXGWMarkerGothic;
  src: url(./LXGWMarkerGothic-Regular.ttf);
}

@font-face {
  font-family: Smiley Sans;
  src: url(./SmileySans-Oblique.ttf);
}

@font-face {
  font-family: YeZiGongChangCangNanShouJi;
  src: url(./YeZiGongChangCangNanShouJi.ttf);
}

/* #article-container a:not([data-fancybox="gallery"]):not(.headerlink):not(.cf-friends-link):not(.tag-Link):not(.btn-anzhiyu):not( .no-text-decoration ) {
  font-weight: 500;
  border-bottom: solid 2px var(--anzhiyu-lighttext);
  color: var(--anzhiyu-fontcolor);
  padding: 0 0.2em;
  text-decoration: none;
  font-family: LXGWMarkerGothic, Menlo, "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
} */